body {
  background-color: #ffecc6;
  font-family: 'Sora', sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main h3 {
    font-size: 25px;
}

main div {
  background-color: #ef6930;
  padding: 5px;
  border-radius: 25px;
  margin: 10px;
  text-align: center;
  width: 30%;
  color: white;
}

main div:hover {
 background-color: #e4a488;
}



h1 {
  text-align: center;
  font-size: 45px;
}

p {
  text-align: center;
}

img {
  margin: 0 auto;
  display: block;
  width: 25%;
  border-radius: 25px;
  padding-bottom: 20px;
}

button {
  border-radius: 25px;
  background-color: green;
  color: white;
  padding: 10px;
}
button:hover {
  background-color: rgb(107, 155, 107);
}
.button-flex {
  display: flex;
  justify-content: center;
}